.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed to flex-start */
  min-height: auto; /* Change min-height to auto */
  color: white;
  padding: 0;
  margin-top: 0; /* Ensure no extra margin */
}

.contact-heading {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.contact-container h4 {
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 350;
}

.form-input,
.form-textarea {
  margin-bottom: 16px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #4f6373; /* Ensure border style */
  background-color: #29323a;
  color: #e0e0e0;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.1);
}

.form-input:hover,
.form-textarea:hover {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.form-textarea {
  height: 140px;
  resize: none;
}

.form-button {
  padding: 15px;
  font-size: 18px;
  background-color: #00ffff;
  color: #000;
  border: 1px solid #4f6373; /* Ensure border style */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 255, 255, 0.4);
  font-weight: bold;
}

.form-button:hover {
  background-color: #00dada;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.6);
}

.form-result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #00ff00;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-container {
    padding-bottom: 10px; /* Adjust padding for mobile */
  }

  .contact-heading {
    font-size: 28px; /* Adjust font size for smaller screens */
  }

  .form-input,
  .form-textarea {
    font-size: 14px; /* Adjust input font size */
  }

  .form-button {
    font-size: 16px; /* Adjust button font size */
  }
}
